@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Raleway", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  flex-wrap: nowrap;
  height: 100px;
  width: 100vw;
  background-color: #0D0D0D;
  z-index: 50;
}
@media (max-width: 1250px) {
  header {
    display: flex;
    position: fixed;
    top: 0;
    align-items: center;
    flex-wrap: nowrap;
    height: 80px;
    width: 100vw;
    background-color: #0D0D0D;
  }
}
header > .logoPadre {
  background-color: #0D0D0D;
  width: 15vw;
  display: flex;
  justify-content: center;
}
@media (max-width: 1250px) {
  header > .logoPadre {
    width: 55%;
  }
}
header > .logoPadre > a {
  display: flex;
  justify-content: end;
}
@media (max-width: 1250px) {
  header > .logoPadre > a {
    height: 30px;
  }
}
header > .logoPadre > a > img {
  width: 80%;
}
@media (max-width: 1250px) {
  header > .logoPadre > a > img {
    height: 30px;
    width: auto;
  }
}
header > .navegador {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  height: 100px;
  width: 60vw;
  background-color: #0D0D0D;
  display: flex;
  justify-content: center;
}
@media (max-width: 1250px) {
  header > .navegador {
    height: 50px;
    width: 15%;
    order: -1;
  }
}
header > .navegador > i {
  display: none;
}
@media (max-width: 1250px) {
  header > .navegador > i {
    order: -1;
    display: block;
    justify-content: center;
    display: block;
    color: white;
    font-size: 20px;
    align-self: center;
  }
  header > .navegador > i:hover + ul {
    left: 0;
  }
  header > .navegador > i:hover + ul > li > ul {
    display: block;
    position: absolute;
    margin-top: none;
  }
}
header > .navegador > ul {
  list-style-type: none;
  color: black;
  display: flex;
  align-self: center;
  padding: 0;
  margin: 0;
}
@media (max-width: 1250px) {
  header > .navegador > ul {
    position: fixed;
    display: block;
    left: -576px;
    background-color: #0D0D0D;
    font-weight: bold;
    font-size: 12px;
    margin-top: 45px;
    margin-bottom: 0;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 0;
    width: 550px;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    align-self: start;
    line-height: 20px;
    transition: 0.2s;
  }
  header > .navegador > ul:hover {
    left: 0;
  }
  header > .navegador > ul:hover > li > ul {
    display: block;
    position: absolute;
    margin-top: none;
  }
}
@media (max-width: 1250px) {
  header > .navegador > ul > :nth-child(3) {
    padding-top: 250px;
  }
}
header > .navegador > ul > li {
  position: relative;
}
@media (max-width: 1250px) {
  header > .navegador > ul > li {
    padding: 5px;
    margin: 0;
  }
}
header > .navegador > ul > li > a {
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  font-size: 15px;
  color: white;
}
header > .navegador > ul > li > a:hover + ul {
  display: block;
  position: absolute;
}
header > .navegador > ul > li > a:hover {
  color: #D9A679;
}
header > .navegador > ul > li > ul {
  list-style-type: none;
  display: none;
  background-color: #0D0D0D;
  padding-top: 30px;
  padding-left: 0px;
  text-align: center;
}
header > .navegador > ul > li > ul:hover {
  display: block;
  position: absolute;
}
@media (max-width: 1250px) {
  header > .navegador > ul > li > ul {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 0;
    text-align: left;
  }
}
header > .navegador > ul > li > ul > li > a {
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  font-size: 15px;
  color: white;
}
@media (max-width: 1250px) {
  header > .navegador > ul > li > ul > li > a {
    font-weight: normal;
    margin: 0;
    padding: 10px 20px;
  }
}
header form {
  background-color: #0D0D0D;
  height: 100px;
  width: 17vw;
  display: flex;
  justify-content: center;
}
@media (max-width: 1250px) {
  header form {
    height: 50px;
    display: flex;
    justify-content: center;
  }
}
header form > input {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  height: 30px;
  width: 75%;
  align-self: center;
  justify-self: center;
}
@media (max-width: 1250px) {
  header form > input {
    display: none;
  }
}
header form > button {
  background-color: transparent;
  border: none;
  padding-left: 5px;
  padding-top: 10px;
}
@media (max-width: 1250px) {
  header form > button {
    padding-left: 0;
    padding-top: 5px;
  }
}
header form > button > i {
  font-size: 20px;
  height: 30px;
  color: white;
}
@media (max-width: 1250px) {
  header form > button > i {
    height: 25px;
    width: 15%;
    align-self: center;
  }
}
header .carrito {
  background-color: #0D0D0D;
  height: 100%;
  width: 8vw;
  display: flex;
  justify-content: center;
}
@media (max-width: 1250px) {
  header .carrito {
    width: 15%;
    height: 100%;
    justify-content: center;
  }
}
header .carrito > i {
  color: white;
  font-size: 20px;
  align-self: center;
  justify-self: center;
}

footer {
  background-color: #262626;
  height: 70px;
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: space-between;
  padding-left: 35px;
  padding-right: 100px;
}
footer > h6 {
  color: white;
  align-self: center;
  font-size: 12px;
  font-weight: bold;
  padding-top: 5px;
}
footer > .redesSociales {
  display: flex;
  font-size: 20px;
  align-self: center;
}
footer > .redesSociales > .redesSociales1 > a {
  text-decoration: none;
  color: #6d6f79;
}
footer > .redesSociales > .redesSociales1 > a:hover {
  color: white;
}
footer > .redesSociales > .redesSociales2 > a {
  text-decoration: none;
  color: #6d6f79;
  padding-left: 20px;
}
footer > .redesSociales > .redesSociales2 > a:hover {
  color: white;
}

.wspFijo > a {
  position: fixed;
  bottom: 5px;
  right: 25px;
}
.wspFijo > a > .fa-whatsapp {
  color: white;
  font-size: 30px;
  position: absolute;
  margin: 6px 12px;
}
.wspFijo > a > .fa-message {
  color: #262626;
  font-size: 50px;
}

.contenidoIndex {
  margin-top: 120px;
  display: grid;
  grid-template-columns: 11% 26% 26% 26% 11%;
  grid-template-rows: auto 60px auto auto auto;
  grid-template-areas: "portada portada portada portada portada" ". titulo titulo titulo ." ". imagen descuento descuento ." ". imagen envio envio ." ". outlet img1 img2 .";
  align-items: center;
  justify-items: center;
  flex-wrap: nowrap;
  grid-row-gap: 15px;
}
@media (max-width: 768px) {
  .contenidoIndex {
    margin-top: 90px;
    display: grid;
    grid-template-columns: 11% 39% 39% 11%;
    grid-template-rows: auto 30px auto auto auto auto auto;
    grid-template-areas: "portada portada portada portada" ". titulo titulo ." ". imagen imagen ." ". descuento descuento ." ". envio envio ." ". outlet outlet ." ". img1 img2 .";
    align-items: center;
    justify-items: center;
    flex-wrap: nowrap;
    grid-row-gap: 10px;
  }
}
.contenidoIndex > .outlet {
  -webkit-animation: vibrate-1 0.3s linear infinite both;
  animation: vibrate-1 0.3s linear infinite both;
}
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@media (max-width: 768px) {
  .contenidoIndex > .outlet {
    padding-right: 7.5%;
    padding-left: 7.5%;
  }
}
.contenidoIndex > .portadaIndex {
  grid-area: portada;
  width: 96vw;
}
.contenidoIndex > .titulo {
  grid-area: titulo;
  background-color: #D8DCF2;
  height: 2px;
  width: 100%;
}
.contenidoIndex .newin {
  grid-area: imagen;
  width: 100%;
}
@media (max-width: 768px) {
  .contenidoIndex .newin {
    padding-right: 7.5%;
    padding-left: 7.5%;
  }
}
.contenidoIndex .newin:hover {
  transform: scale(1.05);
}
.contenidoIndex .descuento, .contenidoIndex .envio {
  grid-area: descuento;
  width: 85%;
}
.contenidoIndex .envio {
  grid-area: envio;
}
.contenidoIndex .outlet {
  grid-area: outlet;
  width: 100%;
}
.contenidoIndex .img1 {
  grid-area: img1;
  width: 70%;
}
.contenidoIndex .img1:hover {
  transform: scale(1.1);
}
.contenidoIndex .img2 {
  grid-area: img2;
  width: 70%;
}
.contenidoIndex .img2:hover {
  transform: scale(1.1);
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  margin-top: 120px;
  width: 90%;
  margin-left: 5%;
}
@media (max-width: 1250px) {
  .productos {
    margin-top: 90px;
  }
}
.productos > .tarjetaProducto {
  width: 450px;
  padding: 20px;
}
.productos > .tarjetaProducto > .tarjetaProducto__img {
  width: 100%;
}
.productos > .tarjetaProducto > .tarjetaProducto__btn {
  width: 100%;
  background-color: white;
  height: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #0D0D0D;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: 1px solid #000;
  color: #000;
  background: transparent;
}
.productos > .tarjetaProducto > .tarjetaProducto__btn:hover:after {
  top: 0;
  left: 0;
}
.productos > .tarjetaProducto > .tarjetaProducto__btn:after {
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 5px;
  left: 5px;
  transition: 0.2s;
  background-color: #D9A679;
}

.nosotrosMain {
  font-family: "Raleway", sans-serif;
  margin-top: 120px;
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: auto auto;
  grid-template-areas: ". titulo imagen ." ". col1 col2 .";
  flex-wrap: nowrap;
  grid-row-gap: 25px;
  margin-bottom: 25px;
}
@media (max-width: 1250px) {
  .nosotrosMain {
    margin-top: 90px;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: ". titulo ." ". imagen ." ". col2 ." ". col1 .";
    flex-wrap: nowrap;
    grid-row-gap: 25px;
    margin-bottom: 25px;
  }
}
.nosotrosMain > .fraseo {
  grid-area: titulo;
  justify-items: right;
  font-size: 25px;
  color: #262626;
  text-align: end;
  font-weight: initial;
  padding-right: 25px;
}
@media (max-width: 1250px) {
  .nosotrosMain > .fraseo {
    padding-right: 0px;
    font-size: 20px;
  }
}
.nosotrosMain > .columna1 {
  grid-area: col1;
  justify-items: right;
  padding-right: 25px;
}
.nosotrosMain > .columna1 > .diseño {
  font-size: 25px;
  font-weight: bold;
  color: #D9A679;
  text-align: start;
  padding-left: 45px;
}
.nosotrosMain > .columna1 > .parrafo {
  display: flex;
  justify-content: start;
  align-content: flex-start;
  padding-top: 50px;
}
.nosotrosMain > .columna1 > .parrafo > h4 {
  font-size: 50px;
  font-weight: bold;
  color: #D9A679;
  text-align: start;
  padding-top: 20px;
}
.nosotrosMain > .columna1 > .parrafo > .num {
  padding-left: 15px;
}
.nosotrosMain > .columna1 > .parrafo > .num > h4 {
  font-size: 20px;
  font-weight: bold;
  color: #D9A679;
  text-align: start;
}
.nosotrosMain > .columna1 > .parrafo > .num > p {
  padding-top: 10px;
  display: block;
  width: 300px;
}
.nosotrosMain > .nosotros2 {
  grid-area: imagen;
  justify-items: left;
  padding-left: 25px;
}
.nosotrosMain > .nosotros2 > img {
  width: 100%;
}
@media (max-width: 1250px) {
  .nosotrosMain > .nosotros2 {
    padding-left: 0px;
    justify-items: center;
  }
}
.nosotrosMain > .textoppal {
  grid-area: col2;
  color: black;
  padding-left: 25px;
  text-align: end;
}
@media (max-width: 1250px) {
  .nosotrosMain > .textoppal {
    padding-left: 0px;
    text-align: center;
  }
}
.nosotrosMain > .textoppal > .autocita {
  font-size: 25px;
  padding-bottom: 25px;
}
@media (max-width: 1250px) {
  .nosotrosMain > .textoppal > .autocita {
    font-size: 20px;
  }
}
.nosotrosMain > .textoppal > p {
  padding-top: 20px;
  line-height: 25px;
}
.nosotrosMain > .textoppal > img {
  padding-top: 45px;
  width: 100%;
}

.cuidadoMain {
  margin-top: 120px;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  text-align: center;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .cuidadoMain {
    margin-top: 90px;
  }
}
.cuidadoMain > .intro {
  width: 62%;
  font-size: 20px;
}
@media (max-width: 768px) {
  .cuidadoMain > .intro {
    width: 100%;
  }
}
.cuidadoMain > .intro > p {
  padding-top: 25px;
}
.cuidadoMain > .imagenes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .cuidadoMain > .imagenes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.cuidadoMain > .imagenes > img {
  width: 30%;
}
@media (max-width: 768px) {
  .cuidadoMain > .imagenes > img {
    width: 100%;
    padding: 10px;
  }
}
.cuidadoMain > .titulo2 {
  width: 100%;
  border-top: solid 2px #D8DCF2;
  padding-top: 40px;
  font-size: 20px;
}
.cuidadoMain > .titulo2 > h4 {
  font-weight: initial;
}
.cuidadoMain > .lavado {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  position: relative;
}
@media (max-width: 768px) {
  .cuidadoMain > .lavado {
    flex-direction: column;
  }
}
.cuidadoMain > .lavado > .icono {
  width: 50%;
  display: flex;
  justify-content: end;
  padding-right: 30px;
}
@media (max-width: 768px) {
  .cuidadoMain > .lavado > .icono {
    padding-right: 0;
    justify-content: center;
  }
}
.cuidadoMain > .lavado > .icono > img {
  width: 100px;
}
.cuidadoMain > .lavado > .linea {
  background-color: black;
  width: 10px;
  height: 100%;
  position: absolute;
}
@media (max-width: 768px) {
  .cuidadoMain > .lavado > .linea {
    display: none;
  }
}
.cuidadoMain > .lavado > .informacion {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
  padding-left: 30px;
}
@media (max-width: 768px) {
  .cuidadoMain > .lavado > .informacion {
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-top: 20px;
  }
}
.cuidadoMain > .lavado > .informacion > h6 {
  font-size: 20px;
}
.cuidadoMain > .lavado > .informacion > p {
  padding-top: 20px;
}
.cuidadoMain > .guardado {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  position: relative;
}
@media (max-width: 768px) {
  .cuidadoMain > .guardado {
    flex-direction: column;
  }
}
.cuidadoMain > .guardado > .informacion {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 50%;
  padding-right: 30px;
}
@media (max-width: 768px) {
  .cuidadoMain > .guardado > .informacion {
    width: 100%;
    text-align: center;
    padding-right: 0;
    padding-top: 20px;
    order: 2;
  }
}
.cuidadoMain > .guardado > .informacion > h6 {
  font-size: 20px;
}
.cuidadoMain > .guardado > .informacion > p {
  padding-top: 20px;
}
.cuidadoMain > .guardado > .linea {
  background-color: #262626;
  width: 10px;
  height: 100%;
  position: absolute;
}
@media (max-width: 768px) {
  .cuidadoMain > .guardado > .linea {
    display: none;
  }
}
.cuidadoMain > .guardado > .icono {
  width: 50%;
  display: flex;
  justify-content: start;
  padding-left: 30px;
}
@media (max-width: 768px) {
  .cuidadoMain > .guardado > .icono {
    padding-left: 0;
    justify-content: center;
    order: 1;
  }
}
.cuidadoMain > .guardado > .icono > img {
  width: 100px;
}
.cuidadoMain > .cuidados {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  position: relative;
}
@media (max-width: 768px) {
  .cuidadoMain > .cuidados {
    flex-direction: column;
  }
}
.cuidadoMain > .cuidados > .icono {
  width: 50%;
  display: flex;
  justify-content: end;
  padding-right: 30px;
}
@media (max-width: 768px) {
  .cuidadoMain > .cuidados > .icono {
    padding-right: 0;
    justify-content: center;
  }
}
.cuidadoMain > .cuidados > .icono > img {
  width: 100px;
}
.cuidadoMain > .cuidados > .linea {
  background-color: #D9A679;
  width: 10px;
  height: 100%;
  position: absolute;
}
@media (max-width: 768px) {
  .cuidadoMain > .cuidados > .linea {
    display: none;
  }
}
.cuidadoMain > .cuidados > .informacion {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
  padding-left: 30px;
}
@media (max-width: 768px) {
  .cuidadoMain > .cuidados > .informacion {
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-top: 20px;
  }
}
.cuidadoMain > .cuidados > .informacion > h6 {
  font-size: 20px;
}
.cuidadoMain > .cuidados > .informacion > p {
  padding-top: 20px;
}

.contactoMain {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  margin-left: 10%;
  margin-top: 120px;
}
@media (max-width: 1250px) {
  .contactoMain {
    width: 90%;
    margin-left: 5%;
    margin-top: 90px;
  }
}
.contactoMain > .intro {
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  height: auto;
}
@media (max-width: 1250px) {
  .contactoMain > .intro {
    display: flex;
    flex-direction: column;
  }
}
.contactoMain > .intro > img {
  width: 60%;
  height: 100%;
}
@media (max-width: 1250px) {
  .contactoMain > .intro > img {
    width: 100%;
  }
}
.contactoMain > .intro > .datosShowroom {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding-left: 25px;
  color: #262626;
}
@media (max-width: 1250px) {
  .contactoMain > .intro > .datosShowroom {
    padding-left: 0;
    margin-top: 40px;
  }
}
.contactoMain > .intro > .datosShowroom > .nuestoShowroom {
  text-align: left;
}
.contactoMain > .intro > .datosShowroom > .infoShowroom {
  text-align: left;
}
.contactoMain > .intro > .datosShowroom > .infoShowroom > h5 {
  padding-top: 30px;
}
.contactoMain > .intro > .datosShowroom > .infoShowroom > h6 {
  padding-top: 10px;
  font-weight: initial;
}
.contactoMain > .formContacto {
  margin-top: 40px;
  width: 60%;
}
@media (max-width: 1250px) {
  .contactoMain > .formContacto {
    width: 100%;
  }
}
.contactoMain > .formContacto > .formulario {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contactoMain > .formContacto > .formulario > .formPartes {
  width: 100%;
  padding-top: 15px;
}
.contactoMain > .formContacto > .formulario > .formPartes > input {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  height: 40px;
  padding-left: 10px;
  width: 100%;
}
.contactoMain > .formContacto > .formulario > .formPartes > textarea {
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  height: 300px;
  padding: 10px;
  width: 100%;
}
.contactoMain > .formContacto > .formulario > .notificaciones {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.contactoMain > .formContacto > .formulario > .notificaciones > label {
  padding-left: 10px;
}
.contactoMain > .formContacto > .formulario > .boton {
  width: 70px;
  height: 40px;
  border-style: none;
  background-color: #262626;
  color: white;
}

.bodyGracias {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}
@media (max-width: 768px) {
  .bodyGracias {
    margin-top: 90px;
  }
}
.bodyGracias h1 {
  display: block;
  text-align: center;
}
.bodyGracias a {
  width: 20%;
  height: 20%;
  margin-top: 20vh;
}
@media (max-width: 768px) {
  .bodyGracias a {
    width: 60%;
    height: 60%;
  }
}/*# sourceMappingURL=style.css.map */