.cuidadoMain{
    margin-top: 120px;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-bottom: 40px;
    @media(max-width:768px){
        margin-top: 90px;
    }
    > .intro {
        width: 62%;
        font-size: 20px;   
        @media(max-width:768px){
            width: 100%;
        }
        > p {
            padding-top: 25px;
        }
    }
    > .imagenes {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        margin-bottom: 40px;
        @media(max-width:768px){
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        > img {
            width: 30%;    
            @media(max-width:768px){
                width: 100%;
                padding: 10px;
            }   
        }
    }

   > .titulo2 {
    width: 100%;
    border-top: solid 2px #D8DCF2;
    padding-top: 40px;
    font-size: 20px;
    > h4 {
        font-weight: initial;
    }
   }
    
        > .lavado {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: auto;
            justify-content: center;
            align-items: center;
            padding-top: 80px;
            position: relative;
            @media(max-width:768px){
                flex-direction: column;
            } 
            > .icono {
                @include iconos (end);
                padding-right: 30px;
                @media(max-width:768px){
                    padding-right: 0;
                    justify-content: center;
                }
                > img {width: 100px;} 
            }
            >.linea {
                background-color: black;
                width: 10px;
                height: 100%;
                position: absolute;
                @media(max-width:768px){
                    display: none;
                } 
            }
            > .informacion {
                display: flex;
                flex-direction: column;
                text-align: left;
                width: 50%;
                padding-left: 30px;
                @media(max-width:768px){
                    width: 100%;
                    text-align: center;
                    padding-left: 0;
                    padding-top: 20px;
                } 
                > h6 {
                    font-size: 20px;
                }
                > p {
                    padding-top: 20px;
                }
            }
        }
        > .guardado {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: auto;
            justify-content: center;
            align-items: center;
            padding-top: 40px;
            position: relative;
            @media(max-width:768px){
                flex-direction: column;
            } 
            > .informacion {
                display: flex;
                flex-direction: column;
                text-align: right;
                width: 50%;
                padding-right: 30px;
                @media(max-width:768px){
                    width: 100%;
                    text-align: center;
                    padding-right: 0;
                    padding-top: 20px;
                    order: 2;
                }
                > h6 {
                    font-size: 20px;
                }
                > p {
                    padding-top: 20px;
                }
            }
            >.linea {
                background-color: #262626;
                width: 10px;
                height: 100%;
                position: absolute;
                @media(max-width:768px){
                    display: none;
                }
            }
            >.icono {
                @include iconos (start);
                padding-left: 30px;
                @media(max-width:768px){
                    padding-left: 0;
                    justify-content: center;
                    order: 1;
                }
                > img {width: 100px;};
            }
        }
        > .cuidados {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: auto;
            justify-content: center;
            align-items: center;
            padding-top: 40px;
            position: relative;
            @media(max-width:768px){
                flex-direction: column;
            } 
            > .icono {
                @include iconos (end);
                padding-right: 30px;
                @media(max-width:768px){
                    padding-right: 0;
                    justify-content: center;
                }
                > img {width: 100px;} 
            }
            >.linea {
                background-color: #D9A679;
                width: 10px;
                height: 100%;
                position: absolute;
                @media(max-width:768px){
                    display: none;
                }
            }
            > .informacion {
                display: flex;
                flex-direction: column;
                text-align: left;
                width: 50%;
                padding-left: 30px;
                @media(max-width:768px){
                    width: 100%;
                    text-align: center;
                    padding-left: 0;
                    padding-top: 20px;
                }
                > h6 {
                    font-size: 20px;
                }
                > p {
                    padding-top: 20px;
                }
            }
        }
    }
