.nosotrosMain{ 
    font-family: 'Raleway', sans-serif;
    margin-top: 120px;
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: auto auto;
    grid-template-areas:". titulo imagen ."
                        ". col1 col2 .";
    flex-wrap: nowrap ;
    grid-row-gap: 25px;
    margin-bottom: 50px;
    @media(max-width:720px){
        
    }
    > .fraseo{
        grid-area: titulo;
        justify-items: right;
        font-size: 25px;
        font-weight: bold;
        color: #262626;
        text-align: end;
        font-weight: initial;
        padding-right: 25px;
        }
    > .columna1{
        grid-area: col1;
        justify-items: right;
        padding-right: 25px;

        >.diseño{ 
        font-size: 25px;
        font-weight: bold;
        color: #D9A679;
        text-align: center;
        }
        > .parrafo {
            display: flex;
            justify-content: center;
            align-content: flex-start;
            padding-top: 50px;
            > h4 {
                font-size: 50px;
                font-weight: bold;
                color: #D9A679;
                text-align: start;
                padding-top: 20px;
                }
            > .num {
                padding-left: 15px;
                > h4 {
                    font-size: 20px;
                    font-weight: bold;
                    color: #D9A679;
                    text-align: start;
                }
                > p {
                    padding-top: 10px;
                    display: block;
                    width: 300px;
                }
             }
        }
    }
    > .nosotros2{
        grid-area: imagen;
        justify-items: left;
        padding-left: 25px;
        > img{ width: 100%;}
    }
    
    > .textoppal {
        grid-area: col2;
        color: black;
        padding-left: 25px;
        text-align: end;
        > .autocita {
            font-size: 25px;
            padding-bottom: 25px;
        }
        > p { padding-top: 20px;
            text-indent: 30px;
            line-height: 25px;
        }  
        > img { padding-top: 45px;
            width: 100%;
        }
    }

}