.contenidoIndex{ 
    margin-top: 120px;
    display: grid;
    grid-template-columns: 11% 26% 26% 26% 11%;
    grid-template-rows: auto 60px auto auto auto;
    grid-template-areas:"portada portada portada portada portada"
                    ". titulo titulo titulo ."
                    ". imagen descuento descuento ."
                    ". imagen envio envio ."
                        ". outlet img1 img2 .";
    align-items: center;
    justify-items: center;
    flex-wrap: nowrap ;
    grid-row-gap: 15px;
    @media(max-width:768px){
        margin-top: 90px;
        display: grid;
        grid-template-columns: 11% 39% 39% 11%;
        grid-template-rows: auto 30px auto auto auto auto auto;
        grid-template-areas:"portada portada portada portada"
                        ". titulo titulo ."
                        ". imagen imagen ."
                        ". descuento descuento ."
                        ". envio envio ."
                        ". outlet outlet ."
                        ". img1 img2 .";
        align-items: center;
        justify-items: center;
        flex-wrap: nowrap ;
        grid-row-gap: 10px;
    }
    > .outlet {
        -webkit-animation: vibrate-1 0.3s linear infinite both;
                animation: vibrate-1 0.3s linear infinite both;
        @-webkit-keyframes vibrate-1 {
            0% {
                -webkit-transform: translate(0);
                transform: translate(0);
                }
            20% {
                -webkit-transform: translate(-2px, 2px);
                transform: translate(-2px, 2px);
                }
            40% {
                -webkit-transform: translate(-2px, -2px);
                transform: translate(-2px, -2px);
                }
            60% {
                -webkit-transform: translate(2px, 2px);
                transform: translate(2px, 2px);
                }
            80% {
                -webkit-transform: translate(2px, -2px);
                transform: translate(2px, -2px);
                }
            100% {
                -webkit-transform: translate(0);
                transform: translate(0);
                }
            }
        @keyframes vibrate-1 {
            0% {
                -webkit-transform: translate(0);
                transform: translate(0);
                }
            20% {
                -webkit-transform: translate(-2px, 2px);
                transform: translate(-2px, 2px);
                }
            40% {
                -webkit-transform: translate(-2px, -2px);
                transform: translate(-2px, -2px);
                }
            60% {
                -webkit-transform: translate(2px, 2px);
                transform: translate(2px, 2px);
                }
            80% {
                -webkit-transform: translate(2px, -2px);
                transform: translate(2px, -2px);
                }
            100% {
                -webkit-transform: translate(0);
                transform: translate(0);
                }
            }
            @media(max-width:768px) {
                padding-right: 7.5%; 
                padding-left: 7.5%;
            }
        }
    > .portadaIndex{
        grid-area: portada;
        width: 96vw;
    }
    > .titulo{
        grid-area: titulo;
        background-color: #D8DCF2;
        height: 2px;
        width: 100%;
    }

.newin{
    grid-area: imagen;
    width: 100%;
    @media(max-width:768px){
        padding-right: 7.5%; 
        padding-left: 7.5%;
        }
}

.newin:hover{
    transform: scale(1.05);}

.descuento{
    grid-area: descuento;
    width: 85%;}

.envio{
    grid-area: envio;
    width: 85%;}

.outlet{
    grid-area: outlet;
    width: 100%;}

.img1{
    grid-area: img1;
    width: 70%;}

.img1:hover{
    transform: scale(1.1);}

.img2{
    grid-area: img2;
    width: 70%;}

.img2:hover{
    transform: scale(1.1);}
}